/* add your CSS here */
body {
  margin: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: 375px 375px 375px;
  grid-gap: 20px;
  justify-items: center;
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 255, 0.7);
  padding: 30px;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.15);
}

.card-title {
  margin-top: 0;
}

.card-image-container {
  height: 300px;
  width: 300px;
  background-color: #e4e4e4;
}

.card-image {
  height: auto;
  width: 300px;
}

.card-interesting-fact {
  font-style: italic;
}

.card-facts-list {
  list-style: none;
  padding-left: 0;
}

.card-facts-list li {
  line-height: 1.25em;
}

.card-facts-list li span {
  font-weight: 600;
}
